nav {
    position: relative;
    width: 100%;
    height: 10vh;
    margin: 0;
    background-color: transparent;
   
    /* background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue); */
}

.list {
    list-style-type: none;
    /* background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    
   
}

.items {
   display: flex;
   margin-left: 10px;
   margin-right: 20px;
   flex-direction: row;
   justify-content:space-between ;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;   
    /* font-weight:400; */
    text-decoration: solid;
    
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}
.link{
    color:#000;
    text-decoration: none;
}
.link:hover{
    color: rgb(245, 44, 18);
}

.img{
    height:60px;
    width: 90px;
    /* margin-top: 10px; */
    padding:30px;
    margin-right:auto ;
    
}
.hover{
    display: none;
}

.list-1{
    list-style: none;
    margin-left: -30px;
}
.op{
    display: none;
}
.clini{
    margin-top: 20px;


}

.img2{
    display: none;
}

@media screen and (max-width: 630px){

    .list {
        flex-direction: column;
        height: auto;
        
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);

    }
    .items:nth-child(1){
        /* border-top: 1px solid rgba(255, 255, 255, 0.555); */
        margin-top: 50px;
    }
    .items {
        width: 100%;
        /* border-top: 1px solid rgba(255, 255, 255, 0.555); */
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        font-size: 12px;
    }
    .btn {
        display: block;
       
    }

    .img2{
        display: block;
        padding: 20px;
        width: 80px;
        height: 70px;
    }

    .link{
        color: #fff;
    }

    
    .togglebar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}